ch 1 code/Sample Code/ColorSwatchSL_Modified/ColorSwatchSL/SampleData/SwatchColorsSampleDataSource/SwatchColorsSampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.SwatchColorsSampleDataSource" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.SwatchColorsSampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Swatches" type="tns:Swatches" />
  <xs:complexType name="Swatches">
    <xs:sequence>
      <xs:element name="SwatchCollection" type="tns:SwatchCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SwatchCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Swatch" type="tns:Swatch" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Swatch">
    <xs:attribute name="Theme" type="xs:string" />
    <xs:attribute name="Color1" type="xs:string" />
    <xs:attribute name="Color2" type="xs:string" />
    <xs:attribute name="Color3" type="xs:string" />
  </xs:complexType>
</xs:schema>