ch 8 code/PCGamingSketch_Copy/PCGamingSketch/PCGamingSketchScreens/SampleData/GamesSampleDataSource/GamesSampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.GamesSampleDataSource" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.GamesSampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GamesSampleDataSource" type="tns:GamesSampleDataSource" />
  <xs:complexType name="GamesSampleDataSource">
    <xs:sequence>
      <xs:element name="Collection" type="tns:ItemCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Item" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:attribute blend:FormatParameters="4,4" name="Title" type="xs:string" />
    <xs:attribute blend:FormatParameters="4,4" name="Line1" type="xs:string" />
    <xs:attribute blend:FormatParameters="4,4" name="Line2" type="xs:string" />
    <xs:attribute blend:FormatParameters="4,4" name="Line3" type="xs:string" />
  </xs:complexType>
</xs:schema>