ch 6 code/FunWithSampleData/FunWithSampleData/SampleData/SampleDataSource/SampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.SampleDataSource" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.SampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleDataSource" type="tns:SampleDataSource" />
  <xs:complexType name="SampleDataSource">
    <xs:sequence>
      <xs:element name="PersonCollection" type="tns:PersonCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="PersonCollectionItem" type="tns:PersonCollectionItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonCollectionItem">
    <xs:sequence>
      <xs:element name="PersonCollection" type="tns:PersonCollection" />
    </xs:sequence>
    <xs:attribute name="FirstName" type="xs:string" />
    <xs:attribute blend:Format="Lorem ipsum" blend:FormatParameters="4,8" name="LastName" type="xs:string" />
    <xs:attribute name="Picture" type="tns:Basic-Image" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
</xs:schema>